.page_functionality {
    min-height: 100vh;
}

.page_title {
    margin: 2rem;
    letter-spacing: 0.4px;
    font-size: 1.1rem;
}

.search_container {
      display: flex;
      flex-direction: column;
      max-width: 30rem;
        margin: 2rem;
      & * {
          letter-spacing: 0.4px
      }
  }

  .input_source_text {
      min-height: 8rem;
  }

  .input_search_term {
      margin-top: 1rem;
      margin-bottom: 1rem;
      min-height: 2rem;
  }

  .sensitive_box {
      margin-bottom: 1rem;
      margin-right: 1rem;
  }